// Here you can add other styles
.ul-flex{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.ul-flex .li-flexlogo{
  flex-basis: 10%;
}
.ul-flex .li-flextitulo{
  margin-top: auto;
  margin-bottom: auto;
  flex-basis: 70%;
  // background-color: red;
}
.ul-flex .li-flextitulo h1{
  margin-bottom: 1px;
  font-weight: 700;
  color: rgb(1, 49, 69);
}
.ul-flex .li-flextitulo h2{
  color: rgb(0, 80, 115);
}
.ul-flex .li-flexdescripcion{
  margin-top: auto;
  margin-bottom: auto;
  flex-basis: 20%;
}
.ul-flex .li-flexdescripcion h3{
  margin-bottom: 1px;
  font-weight: 700;
  color: rgb(1, 49, 69);
}
.ul-flex .li-flexdescripcion h6{
  color: rgb(0, 80, 115);
}
.responsivo{
  width: 100%;
  height: auto;
  max-width: 100px;
}
@media(max-width: 780px){
  .ul-flex .li-flexlogo{
    flex-basis: 100%;
  }
  .ul-flex .li-flextitulo{
    flex-basis: 100%;
  }
  .ul-flex .li-flexdescripcion{
    flex-basis: 100%;
  }
} 
.ul-cmf{
  text-align: left;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
}
.ul-cmf .li-cmf{
  font-size: 100px;
  text-align: left;
  flex-basis: 25%;
}
h5.nombre{
  font-size: 25px;
  text-align: center;
}
hr.encabezado{
  height: 4px;
  background-color: rgb(1, 49, 69);
  border: none;
  animation-name: animaencabezado;
  animation-duration: 0.5s;
}
@keyframes animaencabezado{
  from { width: 0 }
  to { width: 100% }
}
.hoja-evolucion{
  font-size: 20px;
}
/* Historia Clinica */
.historiaclinica{
  font-size: 18px;
}
.thistoria{
  text-align: center;
  color: rgb(1, 49, 69);
}
.thistoria h2{
  font-size: 40px;
}
.fhistoria{
  text-align: center;
}
.fhistoria span{
  background-color: rgb(0, 80, 115);
  padding: 0 5px;
  font-size: 20px;
  color: white;
}
h4.seccion{
  margin-top: 25px;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
  color: rgb(1, 49, 69);
}
hr.hrseccion{
  width: 250px;
  height: 4px;
  background-color: rgb(0, 80, 115);
  border: none;
  margin: 0 0 7px;;
}
hr.hrsecciond{
  width: 300px;
  height: 4px;
  background-color: rgb(0, 80, 115);
  border: none;
  margin: 0 0 15px;;
}
.tseccion{
  font-size: 35px;
  color: rgb(1, 49, 69);
  text-align: center;
}
hr.hrseccionapnp{
  width: 500px;
  height: 4px;
  background-color: rgb(0, 80, 115);
  border: none;
  margin: 0 0 15px;;
}
hr.hrseccionapp{
  width: 450px;
  height: 4px;
  background-color: rgb(0, 80, 115);
  border: none;
  margin: 0 0 15px;;
}
hr.hrseccionaf{
  width: 300px;
  height: 4px;
  background-color: rgb(0, 80, 115);
  border: none;
  margin: 0 0 15px;;
}
hr.hrseccionago{
  width: 400px;
  height: 4px;
  background-color: rgb(0, 80, 115);
  border: none;
  margin: 0 0 15px;;
}
hr.hrseccionpf{
  width: 280px;
  height: 4px;
  background-color: rgb(0, 80, 115);
  border: none;
  margin: 0 0 15px;;
}
hr.hrseccionsv{
  width: 180px;
  height: 4px;
  background-color: rgb(0, 80, 115);
  border: none;
  margin: 0 0 15px;;
}
hr.hrseccionef{
  width: 180px;
  height: 4px;
  background-color: rgb(0, 80, 115);
  border: none;
  margin: 0 0 15px;;
}
hr.diagnostico{
  width: 360px;
  height: 4px;
  background-color: rgb(0, 80, 115);
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
.diagnosticop{
  background-color:rgb(0, 80, 115);
  color: white;
  padding: 20px 10px 10px;
  text-align: center;
}
.combet{
  color: #005073;
}
.otros{
  font-weight: bold;
  font-size: 20px;
}

/*-------------------*/
/*Barra de Navegación*/
/*-------------------*/
.escoje-usuario span{
  color: rgb(0, 80, 115);
  font-size: 17px;
  text-transform: capitalize;
  padding: 3px 10px;
  border-style: solid;
  border-width: 2px 0 2px 2px;
  border-radius: 20px 0 0 20px;
  transition: 0.3s;
  border-color: rgb(0, 80, 115);
}
.escoje-usuario span:hover{
  color: white;
  background-color: rgb(0, 80, 115);
  cursor: pointer;
}
.escoje-usuario span.ver-mas{
  background-color: #20c997;
  color: white;
  border-width: 2px;
  border-color: #20c997;
  padding-right: 10px;
  border-radius: 0 20px 20px 0;
}
.escoje-usuario span.ver-mas:hover{
  background-color: white;;
  color: #20c997;
}
.escoje-boton{
  color: #ffc107;
  font-size: 17px;
  padding: 3px 10px;
  border: solid 2px;
  border-radius: 20px;
  transition: 0.3s;
}
.escoje-boton:hover{
  color: black;
  background-color: #ffc107;
}
.navlink-default{
  font-size: 17px;
  padding: 3px 10px;
  border-radius: 20px;
  color: white;
  border: solid 2px #f86c6b;
  background-color: #f86c6b;
  transition: 0.3s;
}
.navlink-default:hover{
  color: #f86c6b;
  background-color: white;
  
}

// --------------------
// USUARIO NO ENCONTRADO
// --------------------

.user-notfound{
  background-image: url(../../src/assets/img/usuario.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #005073;
  height: 700px;
}
.user-notfound .encabezado{
  margin-left: 2%;
  margin-top: 3%;
  // background-color: red;
  max-width: 60%;
  max-height: 50%;
}
.user-notfound .encabezado h1{
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 800;
}
.user-notfound .boton{
  width:100%;
  text-align: center;
  margin: 100px 0;
}
.user-notfound .boton span{
  background-color:#005073;
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  padding: 10px 20px; 
  border-radius: 10px;
  border-style: double;
  transition: 0.3s;
}
.user-notfound .boton span:hover{
  background-color: #fff;
  color: #005073;
}

// -------------
// HC - No Creada
// -------------
.responsivog{
  width: 100%;
  height: auto;
}
.contenedor{
  color: #005073;
  height: 700px;
  font-size: 70px;
  text-align: center;
  padding-top: 60px;
}
.contenedor img{
  max-width: 300px;
}
.contenedor h2{
  font-size: 32px;
}
.contenedor .botonhc2 {
  // margin: 20px 0;
  margin: 0;
  padding: 0;
  // background-color: red;
}
.contenedor .botonhc2 span{
  background-color:#005073;
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  padding: 10px 20px; 
  border-radius: 10px;
  transition: 0.3s;
  border: solid 2px;
}
.contenedor .botonhc2 span:hover{
  background-color: #fff;
  color: #005073;
  
}

.diagnosticop-vista{
  text-align: center;
  // border: solid 2px #005073;
  padding: 20px 0;
}
.diagnosticop-vista span{
  font-size: 30px;
  background-color: #ffff00;
}
.icono-header{
  color: red;
}

// ---------------------
// Modal PACIENTE
// ---------------------
.modal-header{
  background-color:#005073;
}
.modal-header h4{
  color: #fff;
}
.modal-body{
  padding: 10px;
  font-size: 20px;
}
.modal-body b{
  color: #005073;
}
.modal-body hr{
  transition: 0.3s;
  background-color: #005073;
  height: 4px;
  width: 60%;
  border: none;
}

/*-----------------*/
/*EDITOR - QUILL JS*/
/*-----------------*/
.ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
  color: #000;
}
.ql-editor {
  min-height: 18em;
  font-size: 15px;
}
.ql-toolbar {
  background: #fefcfc;
}

/*------------------------*/
/*POPOVER - SIGNOS VITALES*/
/*------------------------*/

.signosvitales-popover{
  font-size: 15px;
}


//HR
.prueba-hr{
  // background-color:red;
  // box-sizing: border-box;
  width:fit-content;
}
.titulo-hr{
  background-color: green;
}
.hr-dinamico{
  width: 110%;
  height: 4px;
  background-color: rgb(0, 80, 115);
  border: none;
  margin-top: 0;
  animation-name: animarhr;
  animation-duration: 0.4s;
}
@keyframes animarhr{
  from {width: 0}
  to {width: 110%}
}

.input-modificado{
  background-color: red;
}

// HOJA DE CONSENTIMIENTO
.consentimiento{
  padding: 1cm 2cm;
}

// LISTA DE PACIENTES
.listapacientes{
  font-size: 15px;
}
.listapacientes .titulo{
  width: fit-content;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.listapacientes .titulo h1{
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color:rgb(0, 80, 115);
}
.listapacientes .titulo hr{
  margin-top: 0;
  width: 90%;
  height: 5px;
  border: none;
  background-color: rgb(0, 80, 115);
  animation-name: animarhr-titulo;
  animation-duration: 0.4s;
}
@keyframes animarhr-titulo{
  from { width: 0 }
  to { width: 90% }
}

.filtro{
  background-color: #88b2f7;
  padding: 20px 10px 5px;
}
.filtro span{
  // color: #fff;
  font-size: 20px;
  color: rgb(0, 80, 115);
  border: solid;
  border-width: 1px 8px 1px 1px;
}
#subtitulo-pacientes{
  margin: 30px 0;
  color: rgb(0, 80, 115);
}

// UL-PACIENTES
.contenedor-pacientes{
  // background-color: blue;
  font-size: 20px;
  border: solid 1px;
  border-color: #acb4bc;
  transition: 0.2s;
}
.contenedor-pacientes:hover{
  background-color: #f1eeee
}
.ul-pacientes{
  margin: 0 10px 0 15px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.li-pacientes{
  padding: 20px 0;
}
#li-pacientes-nombre{
  flex-basis: 33%;
}
#li-pacientes-nombre:hover{
  cursor: pointer
}
#li-pacientes-id:hover{
  cursor: pointer
}
#li-pacientes-id{
  flex-basis: 25%;
}
#li-pacientes-boton{
  flex-basis: 16%;
  text-align: center;
}
#li-pacientes-boton span{
  border: solid 2px;
  border-color: rgb(0, 80, 115);
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: rgb(0, 80, 115);
  color: #fff;
  transition: 0.3s;
}
#li-pacientes-boton span:hover{
  background-color: #fff;
  color: rgb(0, 80, 115);
  cursor: pointer;
}

//FORM-CONTROL
.form-control:focus{
  color: #000 !important;
}

//SEARCH-BAR
.dropdown__ul__li{
  border: solid;
  border-width: 0 0 2px 0;
  border-color: white;
}
.dropdown__ul__li:hover{
  color: rgb(0, 80, 115);

}

.Toastify__toast--success{
  background-color: #20c997 !important;
}


// MODAL ERROR
.modal-error{
}
.modal-error h2{
  color: #f86c6b;
  font-size: 40px;
}
.modal-error p{
  text-align: center;
  font-size: 25px;
  margin-bottom: 25px;
}
.modal-error b{
  color: #f86c6b;
}
.contenedor-img-error{
  text-align: center;
}
// .boton-error{
//   text-align: center;  
//   margin-left: auto;
//   margin-right: auto;
// }
.contenedor-btn-error{
  text-align: center;
  margin-bottom: 15px;
}
.contenedor-btn-error span{
  background-color: #f86c6b;
  color: #fff;
  padding: 10px 15px;
  border: solid 2px;
  border-radius: 15px;
  transition: 0.3s;
  cursor: pointer;
  font-size: 25px;
}
.contenedor-btn-error span:hover{
  background-color: #fff;
  color: #f86c6b;
}

.boton-reiniciar{
  text-align: center;
}